In [2]:
#Aaron Ronay - Homework 3 - Python Challenge - PyBank
#import dependency
import pandas as pd

In [7]:
#import csv file into data frame and get the shape of the data frame
file = "Resources/budget_data.csv"
df = pd.read_csv(file)
df.shape

(86, 2)

In [11]:
#identify column labels
df.columns

Index(['Date', 'Profit/Losses'], dtype='object')

In [13]:
#check what kind of data types there are in the data frame to avoid errors down the line
df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [19]:
#count total number of months in data set
total_months= df["Date"].count()
total_months

86

In [41]:
#The total net amount of "Profit/Losses" over the entire period
net_amount = df["Profit/Losses"].sum()
net_amount

38382578

In [43]:
# The average change in "Profit/Losses" between months over the entire period
avg_change = df["Profit/Losses"].mean()
avg_change

446309.0465116279

In [32]:
#The greatest increase in profits (date and amount) over the entire period
greatest_increase = df.loc[df["Profit/Losses"] == df["Profit/Losses"].max(), :]
greatest_increase

        Date  Profit/Losses
25  Feb-2012        1170593

In [34]:
#The greatest decrease in losses (date and amount) over the entire period
greatest_decrease = df.loc[df["Profit/Losses"] == df["Profit/Losses"].min(), :]
greatest_decrease

        Date  Profit/Losses
44  Sep-2013       -1196225

In [52]:
#print the analysis to the terminal and export a text file with the results.
#print("Total months: 86")
#print("Total: $38,382,578")
#print("Average Change: $446,309.05")
#print("Greatest Increase in Profits: Feb-2012 ($1,170,593)")
#print("Greatest Decrease in Profits: Sep-2013 ($-1,196,225)")
analysis_series = pd.Series(["Financial Analysis", 
                             "------------------", 
                             "Total months: 86", 
                             "Total: $38,382,578", 
                             "Average Change: $446,309.05",
                             "Greatest Increase in Profits: Feb-2012 ($1,170,593)",
                             "Greatest Decrease in Profits: Sep-2013 ($-1,196,225"])
analysis_series.to_csv('Output/analysis.txt', sep='\t', index=False)
analysis_series

0                                   Financial Analysis
1                                   ------------------
2                                     Total months: 86
3                                   Total: $38,382,578
4                          Average Change: $446,309.05
5    Greatest Increase in Profits: Feb-2012 ($1,170...
6    Greatest Decrease in Profits: Sep-2013 ($-1,19...
dtype: object